body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: auto;
    margin: 40px;
}

.input-box {
    margin-bottom: 25px;
}

input {
    padding: 6px 10px;
    margin-left: 10px;
    width: 120px;
}

button {
    color: #080363;
    padding: 7px 15px;
    margin-left: 10px;
   
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    width: 150px;
    border: 1px solid #530505;
    padding: 15px;
    border-radius: 10px;
}


